# Detecting Codeup Anomalies
#### Data Scientiest : Shawn Brown, Stephen Perry, Brandon Navarrete

In [1]:
# imports
import pandas as pd 
import numpy as np 

import brandons_wrangle as bw

# 1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?

In [2]:
<div class="alert alert-block alert-success">
<b>Takeaways:</b>

*

</div>

SyntaxError: invalid syntax (3237668273.py, line 1)

# 2. Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?

In [ ]:
<div class="alert alert-block alert-success">
<b>Takeaways:</b>

*

</div>

# 3. Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?

In [2]:
# Import Brandon's Data
navdf = bw.get_logs_data(bw.get_connection)

In [3]:
# Prep Brandon's Data, get clean data, student data, and specific student info.
navdf, students, page_views_per_student ,student_info = bw.prepare(navdf)

In [4]:
page_views_per_student.sort_values(by = 'pages_accessed').head(3)

     pages_accessed
id
62                4
137              10
24               26

In [5]:
# take a peak at student 62
student_info

,id,cohort,ip,endpoint,program_id,updated_at,created_at,end_date,start_date,name,datetime
datetime,,,,,,,,,,,
2018-01-29 13:08:55,62,NaN,70.123.209.40,/,2.0,2020-09-21 18:06:27,2020-09-21 18:06:27,2021-03-30,2020-09-21,Jupiter,2018-01-29 13:08:55
2018-01-29 13:08:57,62,NaN,70.123.209.40,java-ii,2.0,2020-09-21 18:06:27,2020-09-21 18:06:27,2021-03-30,2020-09-21,Jupiter,2018-01-29 13:08:57
2018-01-29 13:09:01,62,NaN,70.123.209.40,java-iii,2.0,2020-09-21 18:06:27,2020-09-21 18:06:27,2021-03-30,2020-09-21,Jupiter,2018-01-29 13:09:01
2018-01-29 13:09:14,62,NaN,70.123.209.40,spring,2.0,2020-09-21 18:06:27,2020-09-21 18:06:27,2021-03-30,2020-09-21,Jupiter,2018-01-29 13:09:14

<div class="alert alert-block alert-success">
<b>Takeaways on student 62:</b>

* This student started on 2020-09-21 and ended on 2021-03-30, about 6 months.
* They accessed the pages in 2018, all within an hour of each other, before they started at Codeup
* Was in the the Jupiter cohort
* This student was in web Dev and only accessed the Codeup page 4 times. Once on the home page, the java-ii ,java-iii, and spring.
* All ip's trace back to San Antonio, Tx

</div>

# 4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldn’t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?

In [ ]:
<div class="alert alert-block alert-success">
<b>Takeaways:</b>

*

</div>

# 5. At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?

In [ ]:
<div class="alert alert-block alert-success">
<b>Takeaways:</b>

*

</div>

# 6. What topics are grads continuing to reference after graduation and into their jobs (for each program)?

In [6]:
# I want to make sure im looking at verifiable students who look like they have graduated
# only these programs had queries after graduation.
program1,program2,program4 = bw.grad_activity(students)

#### top refrences for program id 1.0

In [7]:
# a dataframe which shows the unique pages, with a count of how many times they were accessed students graduation or end date
program1

                         count
endpoint
classification/overview    584
javascript-i               605
/                         3513

#### top refrences for program id 2.0

In [8]:
# a dataframe which shows the unique pages, with a count of how many times they were accessed students graduation or end date
program2

            count
endpoint
spring        218
/             361
index.html    373

#### top refrences for program id 4.0

In [9]:
# a dataframe which shows the unique pages, with a count of how many times they were accessed students graduation or end date
program4

              count
endpoint
javascript-i     46
spring           68
/               151

<div class="alert alert-block alert-success">
<b>Takeaways on Top Reference Material:</b>

* Since this was a short project, these are just snapshots of verifable students who look like the have graduated or had a end date.
* I would like to see why program 3.0 had no queries after an end date.

</div>

# 7. Which lessons are least accessed?

In [ ]:
<div class="alert alert-block alert-success">
<b>Takeaways:</b>

*

</div>

# 8. Anything else I should be aware of?

In [ ]:
<div class="alert alert-block alert-success">
<b>Takeaways:</b>

*

</div>